.row
  .span4
    %h1= "Welcome, #{current_user.name}"
    %img{"src"=>"http://placehold.it/150x150"}    
  .span8
    %h1 Ride History
    %ul.unstyled
      %li
        Total Rides This Month: 10
      %li
        Total Charges Accrued: $12.50
      %li
        Stops Visited: 30
      %li
        Home station: North Hollywood
